html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

  font-family: 'Open Sans Regular', sans-serif;
  color: white;
}

#avatarscontainer {
background-color:#2F363B;
}

.top-bar {
  font-size: 28px;
  height: 32px;
  background: #181818;
}

.bottom-bar {
  height: 32px;
  background: #444444;
}

.name-input {
 display:inline;
}
.menu-icon {
  display:inline-block;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: 100%;
  border-style: hidden;
  -webkit-filter: brightness(0.85);
}

.menu-image {
  width: 28px;
  height: 28px;
  display:inline-block;
}

.menu-icon:hover {
  -webkit-filter: brightness(1);
}

.menu-icon:active {
  -webkit-filter: brightness(0.65);
}
	
.menu-icon-trash {
  background-image: url('../inventory/images/icons/icon-trash.png');
}
.inline {
  display:inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}

.list {
height:calc(100% - 32px);
background-color:#242A2D;
overflow-y:scroll;
}


	.bottombutton {
	width:32px;
	height:32px;
	background-size:cover;
	display:inline-block;
	background-position:middle;
	}
	.previewbutton {
	background-image: url('icons/icon-preview.png');

	}
	.previewbutton:hover {
	background-image: url('icons/icon-previewhover.png');
	background-color: white;
	}	

	.savebutton {
	background-image: url('icons/icon-save.png');

	}
	.savebutton:hover {
	background-image: url('icons/icon-savehover.png');
	background-color: white;
	}	

	.shirticon {
	background-image: url('icons/icon-shirt.png');
	padding: 8px 8px 8px 8px;
	background-size:cover;
	position:relative;
	display:inline-block;
	background-position:middle;
	margin-right:8px;
	}
	
	.shirticon:hover {
	background-image: url('icons/icon-shirthover.png');

	}	
	
li {
  list-style-type: none;
  padding-left: 8px;
  padding-top:8px;
  padding-bottom:8px;
  vertical-align:middle;
  max-height:32px;
}

li:hover {
background-color:#343A3D;
}

